/* Global Styles */
body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    background-image: url('pokedex.png');
    background-size: cover;
    color: #333;
}

/* Container Styles */
#pokemon-info {
    border: 3px solid #ffcb05;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    #pokemon-info {
        width: 95%;
        padding: 10px;
    }

    h1 {
        font-size: 1.2em;
    }

    input[type="text"] {
        width: calc(100% - 20px);
        padding: 8px;
        font-size: 0.9em;
    }

    button {
        padding: 8px 15px;
        font-size: 0.9em;
    }

    .tab {
        flex-wrap: wrap;
    }

    .tab button {
        font-size: 0.8em;
        padding: 8px;
        margin-bottom: 5px;
        width: 100%; /* Stack buttons on small screens */
    }

    .tabcontent {
        padding: 10px;
    }
}

/* Tab Styles */
.tab {
    display: flex;
    justify-content: center;
    background-color: #ffcb05;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tab button {
    padding: